link(rel="stylesheet" href="/new-user/style.css")

h1 Uusi käyttäjä Kartalla-palveluun: 
p Nimi: #{name}
p Sähköposti: #{email}
p Käyttäjäryhmät: #{organizations}
p Käyttäjäroolit: #{role}


p.footer #{noReply}
